.local-e-data{
    margin-left: auto;
    margin-right: 0;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
}
h3{
    margin-bottom: 1em;
}
table, th, td{
    border-collapse: collapse;
}
table{
    width: 100%;
}
tr{
    height: 4em;
}
th{
    border-bottom: 2px solid black;
}
td, .borda-fundo-pontilhado{
    border-bottom: 2px dotted gray;
}
.tabela-subtotal{
    text-align: center;
    font-weight: bold;
}
.borda-fundo-solido{
    border-bottom: 2px solid black;
}
.pagamento{
    box-sizing: border-box;
    background-color: #5fb382;
    color: white;
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
}
.pagamento-container{
    display: flex;
    flex-direction: column;
}
.vitrine{
    display: flex;
    flex-wrap: wrap;
}
.produto{
    width: 30%;
    margin: auto;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}
.produto img{
    max-width: 100%;
    border-radius: 20px;
    padding: 20px;
}
.nome-produto{
    display: block;
    font-weight: bold;
    margin: 20px 0;
    background-color: yellow;
    text-align: center;
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.preco-produto{
    font-weight: bold;
    color: blue;
    margin: 20px;
}
.link-adicionar{
    display: block;
    text-align: center;
    width: auto;
    padding: 10px;
    color: white;
    background-color: #5fb382;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}
.link-produto{
    text-decoration: none;
    color: black;
}
.link-produto:hover{
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.texto-centro{
    text-align: center;
}
.cabecalho-produto{
    display: flex;
    justify-content: space-evenly;
}
.imagem-produto{
    max-width: 45%;
}
.compra-produto{
    max-width: 45%;
    padding: 3%;
}
.fonte-imagem-produto{
    max-width: 100%;
}
.pre-wrap{
    white-space: pre-wrap;
}
.rasura{
    text-decoration: line-through;
}
.main-preco{
    color: limegreen;
    font-weight: bold;
    font-size: 2rem;
}
.margin-reset{
    margin: 0;
}
.dados-avista{
    margin-bottom: 5%;
}
.dados-pagamento{
    font-size: 0.9rem;
    font-style: italic;
}
.sub-preco{
    font-size: 1.3rem;
}
.cor-sub-preco{
    color: darkorange;
}
.frame-relevo{
    margin: 70px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    padding: 5%;
}
.flex-horizontal{
    display: flex;
    align-items: flex-start;
}
.cell-min-width1{
    min-width: 3em;
}
.cell-min-width2{
    min-width: 7em;
}
.cell-min-width3{
    min-width: 8em;
}
.cell-min-width4{
    min-width: 20em;
}
.cupom{
    box-sizing: border-box;
    background-color: #75c8fd;
    color: white;
    margin: 30px;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
}
.form-cupom{
    display: flex;
    justify-content: space-between;
}
.input-cupom{
    width: 50%;
    height: 3em;
    align-self: center;
}
.submit-cupom{
    width: 10em;
}
.lista-carrinho{
    max-width: 45rem;
}
.container-lista-carrinho{
    margin: 0 2%;
}
.vitrine-carrinho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.remove-margin-top{
    margin-top: 0;
}
.continuar-comprando{
    box-sizing: border-box;
    background-color: lightgrey;
    color: #3b6e52;
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: solid 2px #3b6e52;
}
.margin-top{
    margin-top: 30px;
}
.resumo-linha{
    font-size: 0.9rem;
    padding: 0 0.7em;
}
.resumo-precos{
    font-size: 1rem;
    font-weight: bold;
    float: right;
}
.resumo{
    min-width: 25rem;
}
.total-prazo{
    background: lightgrey;
    padding: 0.7em;
}
.total-vista{
    background: #c7efd5;
    color: #3b6e52;
    padding: 1em 2em;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.valor-vista{
    font-size: 1.8rem;
}
.login-with-google-btn {
    transition: background-color 0.3s, box-shadow 0.3s;

    padding: 12px 16px 12px 42px;
    border: lightgrey solid 1px;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}
.login-with-google-btn:hover {
     box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
 }

.login-with-google-btn:active {
     background-color: #eeeeee;
 }

.login-with-google-btn:focus {
     outline: none;
     box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
     0 0 0 3px #c8dafc;
 }
.dropbtn {
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}
.margin-bottom-reset{
    margin-bottom: 0;
}
.link-conta{
    width: 11em;
    font-size: 1.8rem;
    text-align: center;
    color: #676767;
    margin: 0;
    padding: 1em 0.5em;
    margin: 50px 20px;
}
.link-conta:hover{
    background-color: lightgrey;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    color: black;
}
.no-deco{
    text-decoration: none;
}
.red{
    color: red;
}
.texto-aviso{
    font-size: 1.5rem;
}
.frame-aviso{
    max-width: 800px;
    margin: auto;
}
.form-aviso{
    display: flex;
    flex-direction: column;
}
#senha-aviso{
    width: 15em;
    margin: 50px auto;
    font-size: 1.2rem;
}
.botoes-aviso{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.botao-encerrar{
    box-sizing: border-box;
    background-color: red;
    color: white;
    padding: 0.8em 1.5em;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    min-width: 7em;
    text-align: center;
}
.botao-voltar{
    box-sizing: border-box;
    background-color: lightgrey;
    color: black;
    padding: 0.8em 1.5em;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    min-width: 7em;
    text-align: center;
    text-decoration: none;
}
.botao-voltar:hover{
    color: black;
}
.frame-senha{
    font-size: 1.2rem;
    text-align: center;
}
.input-senha{
    width: 100%;
    margin: 1em 0;
}
.margin-top2{
    margin-top: 50px;
}
.container-cadastro{
    margin: auto;
}
.form-cadastro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.form-row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}.form-row label{
    width: 50%;
    padding: 0 1em;
    margin: 0.5em 0;
 }
 .form-row input{
     width: 100%;
 }
 .form-radio{
     display: flex;
     flex-direction: column;
     padding: 0 1em;
 }
 .form-radio-inner{
     display: flex;
     justify-content: space-evenly;
 }
 .form-radio-item{
     width: 50px !important;
 }
 #email{
     width: 100%;
 }
 .mini-titulo{
     text-align: center;
     margin-bottom: 40px;
 }
.botoes-login{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.div-espaco{
    width: 50px;
}
.input-login{
    width: 100%;
}
.input-login-margin{
    margin: 1em;
    padding: 0 5em;
}
.botao-login{
    box-sizing: border-box;
    background-color: lightgrey;
    color: black;
    padding: 0.8em 1.5em;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    min-width: 8em;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}
.botao-login:hover{
    color: black;
}
.margin-bottom{
    margin-bottom: 40px;
}